main{
    height: 360px;
}

.container-game {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    border:2px solid black;
    min-height: 50vh;
    min-width: 50vw;
    height: 100%;
}

.board-game{
    min-height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 4px;
}

.item{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    border: 2px solid red;
    /* padding: 4px; */
    margin: 10px;
    transition: transform 1s ease-in-out;
    font-size: xx-large;
}

.item:hover{
    background-color: #cfd9ff;
    transform: scale(1.1);
}